
.metadata/.lock
.metadata/.log
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.mylyn/.taskListIndex/write.lock
.metadata/.mylyn/.tasks.xml.zip
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/0/803e15835d6f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/10/20646a78616f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/10/90dc9662586f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/12/0012c7bb606f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/12/50727eb1586f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/14/a0905e30636f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/14/f04fb2d4606f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/17/301f2f7c5f6f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/18/00849d5d586f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/22/c0d4594b616f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/24/60a29d877ccf00191763a2aabe5b81de
.metadata/.plugins/org.eclipse.core.resources/.history/25/0046f745546f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/27/609f83a45a6f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/28/b0209e6f586f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/28/e09df0bc606f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/2e/9059ff8c5c6f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/31/d092fc17566f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/32/408a59b7566f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/34/5017c6707ecf00191763a2aabe5b81de
.metadata/.plugins/org.eclipse.core.resources/.history/36/9060919b556f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/37/70b86bd35b6f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/3a/a0caa90f80cf0019118fdcb571d9df8d
.metadata/.plugins/org.eclipse.core.resources/.history/44/001a1b45586f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/45/8029827f596f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/45/f0732f695d6f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/46/e0a879625e6f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/48/80e58fb25c6f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/4a/00bae4b5556f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/4b/20def30d556f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/4b/5007793a5e6f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/5/1078cf63626f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/52/20011a48636f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/52/403fc687646f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/57/e0c4dd01626f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/58/80efba6d5d6f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/59/6087bbd7576f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/5a/30b6d741556f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/5c/a0fe711a616f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/5e/c09ddf04636f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/62/209be4a0646f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/64/20c7c71a5e6f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/64/c0ed1e27616f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/67/d07492bb5d6f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/6d/00f5a91a556f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/6d/80c281af596f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/7/503e2c86646f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/70/805be460616f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/73/004033155e6f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/76/00473acc576f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/7a/100e316e566f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/7b/102dd839566f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/8/80b56efd626f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/8/90751e6a626f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/81/30b2b6635d6f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/82/d000fe69586f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/84/a09db959596f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/9/60748355616f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/91/208ac8e4526f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/95/4012d2097bcf00191763a2aabe5b81de
.metadata/.plugins/org.eclipse.core.resources/.history/95/a098d225566f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/99/80f5133b636f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/9b/60cad4dc5f6f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/9b/d04d3492576f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/9e/30d4d87c7ccf00191763a2aabe5b81de
.metadata/.plugins/org.eclipse.core.resources/.history/a2/3017dc01626f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/b0/c05648995c6f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/b4/90f6e4e85a6f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/b5/50738a495e6f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/ba/80937b935a6f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/bf/60f14cb5566f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/c1/00f232d3576f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/c2/f01a51f87ccf00191763a2aabe5b81de
.metadata/.plugins/org.eclipse.core.resources/.history/cb/d0afe90e556f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/d2/902251ba5a6f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/d2/b07551e15b6f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/d3/b0409fb4606f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/d5/10c2c5505d6f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/d8/b0e13b295e6f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/d8/d0d5b6945e6f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/db/e06c954d616f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/de/00de4fe7626f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/df/8096ac985d6f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/e7/f0e513217bcf00191763a2aabe5b81de
.metadata/.plugins/org.eclipse.core.resources/.history/e9/c078b886646f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/eb/e08a7b0d7ecf00191763a2aabe5b81de
.metadata/.plugins/org.eclipse.core.resources/.history/ed/f004dcad5d6f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/f/a0a766f3626f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/f9/e0dd16b35e6f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/fc/405d78cc5e6f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.history/fd/407238cc576f001911d0fd0dbe7383c8
.metadata/.plugins/org.eclipse.core.resources/.projects/Week1-Intermediate/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Week1-Intermediate/.indexes/e4/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Week1-Intermediate/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/42.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.css.swt.theme.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.workbench.renderers.swt.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.mpc.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.junit.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.java.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.api.tools.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wb.core.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/AccountCreate.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/AgeApp.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/AreaCalculator.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/ArraysHW1.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Averager.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/CurrencyConverter.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/DayCounter.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/DayCounter2.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/DemoHorse.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Escape.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Fever.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/FindTip.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Frame_1.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Frame_2.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Frame_3.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/GuessingGame.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/HeadCount.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/HeadCount3.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/HelloWorld.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/ItemNames.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/MathRandomPractice.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Project.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Runner.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/ShowStudent.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/TestAdvancedStudent.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/testproj.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/TicketSeller.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Window (1).launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Window.launch
.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.epp.mpc.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.equinox.p2.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.core/1151569180.index
.metadata/.plugins/org.eclipse.jdt.core/1459523266.index
.metadata/.plugins/org.eclipse.jdt.core/165794779.index
.metadata/.plugins/org.eclipse.jdt.core/2060039664.index
.metadata/.plugins/org.eclipse.jdt.core/2223553328.index
.metadata/.plugins/org.eclipse.jdt.core/2755271588.index
.metadata/.plugins/org.eclipse.jdt.core/2772419465.index
.metadata/.plugins/org.eclipse.jdt.core/2845807539.index
.metadata/.plugins/org.eclipse.jdt.core/2975910402.index
.metadata/.plugins/org.eclipse.jdt.core/3384131066.index
.metadata/.plugins/org.eclipse.jdt.core/3429681154.index
.metadata/.plugins/org.eclipse.jdt.core/3572716771.index
.metadata/.plugins/org.eclipse.jdt.core/364096953.index
.metadata/.plugins/org.eclipse.jdt.core/379664343.index
.metadata/.plugins/org.eclipse.jdt.core/3973945260.index
.metadata/.plugins/org.eclipse.jdt.core/4069293921.index
.metadata/.plugins/org.eclipse.jdt.core/4120324546.index
.metadata/.plugins/org.eclipse.jdt.core/646436966.index
.metadata/.plugins/org.eclipse.jdt.core/753608048.index
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/index.db
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2019/9/36/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2019/9/36/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Finalv2/2019/5/19/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Finalv2/2019/5/19/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Hello World/2019/1/4/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Hello World/2019/1/4/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Hello World/2019/2/6/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Hello World/2019/2/6/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Week 4/2019/2/7/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Week 4/2019/2/7/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Week11/2019/4/16/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Week11/2019/4/16/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Week2/2019/2/5/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Week2/2019/2/5/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Week5/2019/2/9/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Week5/2019/2/9/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Week8/2019/3/14/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Week8/2019/3/14/refactorings.index
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Week9/2019/3/14/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Week9/2019/3/14/refactorings.index
.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.10.0.20181127-2120.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
.metadata/.plugins/org.eclipse.pde.core/.local_targets/1557065022087.target
.metadata/.plugins/org.eclipse.pde.core/.local_targets/1557083889278.target
.metadata/.plugins/org.eclipse.pde.core/SavedExternalPluginList.txt
.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.cheatsheets/history.xml
.metadata/.plugins/org.eclipse.ui.cheatsheets/org.eclipse.jdt.helloworld.xml
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.intro/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.ui.workbench.texteditor/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wb.core/descriptions/org.eclipse.wb.swing.cached-presentations.dat
.metadata/.plugins/org.eclipse.wb.core/dialog_settings.xml
.metadata/.plugins/org.eclipse.wb.swing/dialog_settings.xml
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/version.ini
/.metadata/
